<!DOCTYPE html>
<html amp lang="ja">
  <head>
    {{ partial "meta" . }}
    {{ partial "metadata" . }} 
  </head>
  <body>
    {{ partial "header" . }} 

    <main>
      <article>
        <section>
          <nav>
            <ul>
              {{ range .Data.Pages.ByDate.Reverse }}
              {{ if (and (ne .Type "search") (ne .Type "about"))}}
              <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
              {{ end }}
            </ul>
          </nav>
        </section>
      </article>
    </main>

    {{ partial "footer" . }}
    {{ partial "hidden" . }}
  </body>
</html>

