<!DOCTYPE html>
<html amp lang="ja">
  <head>
    {{ partial "meta" . }}
    {{ partial "metadata" . }} 
  </head>
  <body>
    {{ partial "header" . }} 

    <main>
      {{ partial "article" . }}
    </main>

    {{ partial "footer" . }}
    {{ partial "hidden" . }}
  </body>
</html>
