      {{ $encodedPermalink := (urlquery .Permalink) }}
      {{ $encodedTitle     := (urlquery (printf "%s - %s" .Title .Site.Title)) }}
      {{ $encodedSummary   := (urlquery .Summary) }}

      <article>
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

        <nav>
          <ul>
            <li class="instapaper">
              <a href="http://www.instapaper.com/hello2?url={{ $encodedPermalink }}&title={{ $encodedTitle }}&description={{ $encodedSummary }}">
                <amp-img
                  src="{{ .Site.BaseURL }}assets/images/icons/instapaper.svg"
                  attribution="This icon provided by http://hail2u.github.io/drawic/ (C) Kyo NAGASHIMA (CC0)"
                  height="48"
                  layout="fixed-height"
                  alt="Instapaper"></amp-img>
              </a>
            </li>
            <li class="readability">
              <a href="https://readability.com/save?url={{ .Permalink }}">
                <amp-img
                  src="{{ .Site.BaseURL }}assets/images/icons/readability.svg"
                  attribution="This icon provided by http://hail2u.github.io/drawic/ (C) Kyo NAGASHIMA (CC0)"
                  height="48"
                  layout="fixed-height"
                  alt="Readability"></amp-img>
              </a>
            </li>
            <li class="pocket">
              <a href="http://getpocket.com/edit?url={{ $encodedPermalink }}&title={{ $encodedTitle }}">
                <amp-img
                  src="{{ .Site.BaseURL }}assets/images/icons/next.svg"
                  attribution="This icon provided by http://hail2u.github.io/drawic/ (C) Kyo NAGASHIMA (CC0)"
                  height="48"
                  layout="fixed-height"
                  alt="Pocket"></amp-img>
              </a>
            </li>
          </ul>
        </nav>

        <section>
          {{ .Content }}
        </section>

        <aside>
          <p>
            <time datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" .Date }}">
              {{ dateFormat "2006-01-02 15:04 Z07:00" .Date }}
            </time>
          </p>
        </aside>
      </article>

      <nav>
        <ul>
          <li class="twitter">
            <a href="https://twitter.com/share?url={{ $encodedPermalink }}&amp;via=nyarla&amp;text={{ $encodedTitle }}">
              <amp-img
                src="{{ .Site.BaseURL }}assets/images/icons/twitter.svg"
                attribution="This icon provided by http://hail2u.github.io/drawic/ (C) Kyo NAGASHIMA (CC0)"
                height="48"
                layout="fixed-height"
                alt="Twitter"></amp-img>
            </a>
          </li>
          <li class="tumblr">
            <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{ $encodedPermalink }}">
              <amp-img
                src="{{ .Site.BaseURL }}assets/images/icons/tumblr.svg"
                attribution="This icon provided by http://hail2u.github.io/drawic/ (C) Kyo NAGASHIMA (CC0)"
                height="48"
                layout="fixed-height"
                alt="Tumblr"></amp-img>
            </a>
          </li>
          <li class="facebook">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ $encodedPermalink }}">
              <amp-img
                src="{{ .Site.BaseURL }}assets/images/icons/facebook.svg"
                attribution="This icon provided by http://hail2u.github.io/drawic/ (C) Kyo NAGASHIMA (CC0)"
                height="48"
                layout="fixed-height"
                alt="Facebook"></amp-img>
            </a>
          </li>
          <li class="google">
            <a href="https://plus.google.com/share?url={{ $encodedPermalink }}">
              <amp-img
                src="{{ .Site.BaseURL }}assets/images/icons/googleplus.svg"
                attribution="This icon provided by http://hail2u.github.io/drawic/ (C) Kyo NAGASHIMA (CC0)"
                height="48"
                layout="fixed-height"
                alt="Google+"></amp-img>
            </a>
          </li>
          <li class="hatena">
            <a href="https://b.hatena.ne.jp/my/add.confirm?title={{ $encodedTitle }}&amp;{{ $encodedPermalink }}">
              <amp-img
                src="{{ .Site.BaseURL }}assets/images/icons/hatena-bookmark.svg"
                attribution="This icon provided by http://hail2u.github.io/drawic/ (C) Kyo NAGASHIMA (CC0)"
                height="48"
                layout="fixed-height"
                alt="はてなブックマーク"></amp-img>
          </a>
          </li>

          <li class="feed">
            <a href="{{ .Site.BaseURL }}feed">
              <amp-img
                src="{{ .Site.BaseURL }}assets/images/icons/feed.svg"
                attribution="This icon provided by http://hail2u.github.io/drawic/ (C) Kyo NAGASHIMA (CC0)"
                height="48"
                layout="fixed-height"
                alt="Feed"></amp-img>
            </a> 
          </li>

          <li class="feedly">
            <a href="http://cloud.feedly.com/#subscription%2Ffeed%2F{{ urlquery (printf "%s%s" .Site.BaseURL "feed") }}">
              <amp-img
                src="{{ .Site.BaseURL }}assets/images/icons/feedly.svg"
                attribution="This icon provided by http://hail2u.github.io/drawic/ (C) Kyo NAGASHIMA (CC0)"
                height="48"
                layout="fixed-height"
                alt="Feed"></amp-img>
            </a> 
          </li>
        </ul>
      </nav>
