
    <header>
      <h1 id="website-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      <p id="website-description">
        自分はこう考えるけれど。
        <br />
        貴方はどう思う？
      </p>
    </header>

