
      {{ if (isset .Site.Params "GoogleAnalytics") }}
      <amp-analytics type="googleanalytics">
        <script type="application/json">
        {
          "vars": {
            "account": "{{ .Site.Params.GoogleAnalytics }}"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview",
              "vars": {
                "title": "{{ .Title }}",
                "ampdocUrl": "{{ .Permalink }}"
              }
            },
            "trackClickOnTwitter": {
              "on": "click",
              "selector": "li.twitter > a",
              "request": "social",
              "vars": {
                "socialNetwork": "twitter",
                "socialAction": "tweet",
                "socialTarget": "{{ .Permalink }}"
              }
            },
            "trackClickOnTumblr": {
              "on": "click",
              "selector": "li.tumblr > a",
              "request": "social",
              "vars": {
                "socialNetwork": "tumblr",
                "socialAction": "reblog",
                "socialTarget": "{{ .Permalink }}"
              }
            },
            "trackClickOnFacebook": {
              "on": "click",
              "selector": "li.facebook > a",
              "request": "social",
              "vars": {
                "socialNetwork": "facebook",
                "socialAction": "share",
                "socialTarget": "{{ .Permalink }}"
              }
            },
            "trackClickOnGooglePlus": {
              "on": "click",
              "selector": "li.google > a",
              "request": "social",
              "vars": {
                "socialNetwork": "google-plus",
                "socialAction": "share",
                "socialTarget": "{{ .Permalink }}"
              }
            },
            "trackClickOnHatenaBookmark": {
              "on": "click",
              "selector": "li.hatena > a",
              "request": "social",
              "vars": {
                "socialNetwork": "hatena-bookmark",
                "socialAction": "bookmark",
                "socialTarget": "{{ .Permalink }}"
              }
            },
            "trackClickOnFeedLink": {
              "on": "click",
              "selector": "li.feed > a",
              "request": "social",
              "vars": {
                "socialNetwork": "feedreader",
                "socialAction": "subscribe",
                "socialTarget": "{{ .Permalink }}"
              }
            },
            "trackClickOnFeedly": {
              "on": "click",
              "selector": "li.feedly > a",
              "request": "social",
              "vars": {
                "socialNetwork": "feedly",
                "socialAction": "subscribe",
                "socialTarget": "{{ .Permalink }}"
              }
            },
            "trackClickOnInstapaper": {
              "on": "click",
              "selector": "li.instapaper > a",
              "request": "social",
              "vars": {
                "socialNetwork": "instapaper",
                "socialAction": "readLater",
                "socialTarget": "{{ .Permalink }}"
              }
            },
            "trackClickOnReadability": {
              "on": "click",
              "selector": "li.readability > a",
              "request": "social",
              "vars": {
                "socialNetwork": "readability",
                "socialAction": "readLater",
                "socialTarget": "{{ .Permalink }}"
              }
            },
            "trackClickOnPocket": {
              "on": "click",
              "selector": "li.pocket > a",
              "request": "social",
              "vars": {
                "socialNetwork": "pocket",
                "socialAction": "readLater",
                "socialTarget": "{{ .Permalink }}"
              }
            }
          }
        }
        </script>
      </amp-analytics> 
      {{ end }}

