<!DOCTYPE html>
<html amp lang="ja">
  <head>
    {{ partial "meta" . }}
    {{ partial "metadata" . }} 
  </head>
  <body>
    {{ partial "header" . }} 

    <main>
      <h1><a href="{{ .Site.BaseURL }}404.html">404 Not Found</a></h1>
      <section>
        <p>ここには何も有りません。</p>
        <p>
          ページをお探しの場合、<a href="{{ .Site.BaseURL }}search/">検索ページ</a>で検索すると良いかもしれません。
        </p>
      </section>
    </main>

    <footer>
      <aside>
        <h1>リンク</h1>
        <nav>
          <ul>
            <li><a href="{{ .Site.Params.Profile }}">プロフィール (詳細)</a></li>
            <li><a href="{{ .Site.BaseURL }}about/">このブログについて</a></li>
            <li><a href="{{ .Site.BaseURL }}">記事一覧</a></li>
            <li><a href="{{ .Site.BaseURL }}search/">ブログ内検索</a></li>
          </ul>
      </aside>
      <hr >
      <p id="copyright">
        &copy; 2016 <a href="{{ .Site.Params.Profile }}">Naoki OKAMURA</a>
      </p>
    </footer> 
    {{ partial "hidden" . }}
  </body>
</html>
